<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @parts_assignment %>

    <%= link_to "Edit this parts_assignment", edit_parts_assignment_path(@parts_assignment), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this parts_assignment", parts_assignment_path(@parts_assignment), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to parts_assignments", parts_assignments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
