<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing project type</h1>

  <%= render "form", project_type: @project_type %>

  <%= link_to "Show this project type", @project_type, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to project types", project_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
